<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>O</key>
	<string>O_.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>uni0A8C</key>
	<string>uni0A8C.glif</string>
	<key>uni0A8D</key>
	<string>uni0A8D.glif</string>
	<key>uni0A8E</key>
	<string>uni0A8E.glif</string>
	<key>uni0A8F</key>
	<string>uni0A8F.glif</string>
	<key>uni0A90</key>
	<string>uni0A90.glif</string>
	<key>uni0A91</key>
	<string>uni0A91.glif</string>
	<key>uni0A92</key>
	<string>uni0A92.glif</string>
	<key>uni0A93</key>
	<string>uni0A93.glif</string>
	<key>uni0A94</key>
	<string>uni0A94.glif</string>
	<key>uni0A95</key>
	<string>uni0A95.glif</string>
	<key>uni0A96</key>
	<string>uni0A96.glif</string>
	<key>uni0A97</key>
	<string>uni0A97.glif</string>
	<key>uni0A98</key>
	<string>uni0A98.glif</string>
	<key>uni0A99</key>
	<string>uni0A99.glif</string>
	<key>uni0A9A</key>
	<string>uni0A9A.glif</string>
	<key>uni0A9B</key>
	<string>uni0A9B.glif</string>
	<key>uni0A9C</key>
	<string>uni0A9C.glif</string>
	<key>uni0A9D</key>
	<string>uni0A9D.glif</string>
	<key>uni0A9E</key>
	<string>uni0A9E.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
    </dict>
</plist>
