<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>O</key>
	<dict>
	    <key>N</key>
	    <integer>27</integer>
	</dict>
	<key>A</key>
	<dict>
	    <key>S</key>
	    <integer>-31</integer>
	    <key>G</key>
	    <integer>-46</integer>
	    <key>V</key>
	    <integer>-131</integer>
	    <key>R</key>
	    <integer>9</integer>
	</dict>
	<key>C</key>
	<dict>
	    <key>A</key>
	    <integer>-33</integer>
	</dict>
	<key>E</key>
	<dict>
	    <key>O</key>
	    <integer>-38</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>O</key>
	    <integer>-69</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>O</key>
	    <integer>-60</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>S</key>
	    <integer>-31</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quotesingle</key>
	    <integer>-92</integer>
	    <key>S</key>
	    <integer>-23</integer>
	    <key>O</key>
	    <integer>-62</integer>
	</dict>
	<key>M</key>
	<dict>
	    <key>E</key>
	    <integer>15</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>B</key>
	    <integer>13</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>A</key>
	    <integer>-138</integer>
	    <key>O</key>
	    <integer>-64</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>A</key>
	    <integer>-155</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>A</key>
	    <integer>-139</integer>
	</dict>
    </dict>
</plist>
